.header{
	width: 100%;
	height: 32px;
	border-bottom: 1px  solid #cccccc;
	background: #f7f7f7;
	font-size: 12px;
	color: #808080;

}
.header a:hover{
	color: red;
}
.header-main{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.header-right{
	width: 447px;
	height: 100%;
	float: right;
/* 	background: yellow; */
}
.welcom{
	width: 150px;
	height: 100%;
	font-size: 12px;
	color: #808080;
	line-height: 32px;
	float: left;
}
.denglu{
	width: 77px;
	height: 100%;
	float: left;
	/* background: blue; */
	margin-left: 20px;
}
.login{
	float: left;
	line-height: 32px;
}
.fenge{
	float: left;
	line-height: 32px;
	margin-left: 11.5px;
}
.regist{
	float: right;
	line-height: 32px;
}
.dingdan{
	width: 61px;
	height: 100%;
	float: left;
	/* background: green; */
}.dingdan1{
	float: right;
	line-height: 32px;
}
.gonggao{
	width: 72px;
	height: 100%;
	/* background: yellow; */
	margin-left: 16px;
	float: left;
}
.gonggao1{
	width: 16px;
	height: 16px;
	margin: 0 auto;
	margin-top: 9px;
	/* background: red; */
	float: left;
}
.notice{
	width: 100%;
	height: 100%;
}
.gonggao2{
	float: right;
	line-height: 32px;
}
.fenxiang{
	width: 38px;
	height: 18px;
	margin-left: 13px;
	/* background: pink; */
	float: right;
	margin-top: 7px;
}
.w1{
	float: left;
}
.w2{
	float: right;
}
.wx{
	width:148px;
	height:169px;
	position: absolute;
	right:90px;
	display: none;
	z-index: 9999;
}
.sousuo{
	width: 1200px;
	height: 57px;
	margin: 0 auto;
	/* background: yellow; */
	font-size: 12px;
	color: #808080;
	position: relative;
}
.ssk{
	width: 307px;
	height: 27px;
	border: 1px solid #cacaca;
	background: #fff;
	float: right;
	margin-top: 28px;
}
.buy{
	width: 258px;
	height: 27px;

	float:left;
}
.ss1{
	width: 47px;
	height: 27px;
	float: right;
	background-image: url('../img/凡客图/vanclsprite.png');
    background-position: -99px 0px;
}
.wenben{
	width: 259px;
	height: 26px;
	float: left;
	outline: none;
}
/* .ss{
	width: 49px;
	height: 29px;
	background-image: url('../img/凡客图/vanclsprite.png')   
} */
.ssk1{
	width: 105px;
	height: 27px;
	border: 1px solid #c1383e;

	background-image: url('../img/凡客图/vanclsprite.png');
	background-position: -153px 0px;
	float: right;
	margin-top: 28px;
	margin-left: 22px;

}
.ssk1:hover{
	width: 105px;
	height: 27px;
	border: 1px solid #c1383e;
     border-bottom: 0;
	background-image: url('../img/凡客图/vanclsprite.png');
	background-position: -153px -29px;
	float: right;
	margin-top: 28px;
	margin-left: 22px;
}
.ssk1-1{
	width:300px;
	height:27px;
	border:1px solid  #c1383e;
	position: absolute;
	right:0;
	top:55px;
	font-size: 14px;
	color: #666;
	line-height: 27px;
	padding-left: 10px;
	display: none;
	background: #fff;
}
.ssk1-11{
	width:103px;
	height:2px;
	background: #fff;
	position: absolute;
	right:1px;
	top:54px;
	display: none;
}
span{
	float: left;
	margin-left: 40px;
	margin-top: 7px;
	color: #fff;
}
.ssk1:hover span{
	float: left;
	margin-left: 40px;
	margin-top: 7px;
	color: red;
}
/* .form{
	float: right;
	width: 100%;
	height: 100%;
} */
.rem{
	width: 1200px;
	height: 20px;
	margin: 0 auto;
	/* background: yellow; */
	font-size: 12px;
	color: #808080;
}
.rem div{
     float: right;
     margin-right: 11px;
     margin-top: 8px;
}
.daohang{
	width: 1200px;
	height: 89px;
	/* background: green; */
	margin: 0 auto;
	font-size: 16px;
	color: #808080;
	z-index:999;
}
.logo{
	width: 184px;
	height: 100%;
	/* background: pink; */
	float: left;
	margin-left: 1px;
}
.logo1{
	margin-top: 12px;
}
.dh1{
	float: left;
	padding:0px 32px 0px 49px;
	border-right: 1px solid #ccc;
	margin-top: 39px; 
}
.nav{
	width:1000px;
	height: 23px;
	float: left;
	margin-top: 33px;

}
.nav li{
	float: left;
	width:99px;
	height:23px;
	color: #727171;
	font-size:16px;
	line-height:23px;
	text-align: center;
	border-right: 1px solid #ccc;

}
.nav li:last-child{
	border-right: 0;
}
.top{
	width:99px;
	height:23px;
	float: left;
	text-align: center;
	border-right: 1px solid #ccc;
}
.sec{
	width:99px;
	height:0;
	overflow: hidden;
	position: relative;
	background: #fff;
	z-index: 5;
	transition: all .5s;
}
.sec li:first-child{
	width:100%;
	height:10px;
	border-top: 5px solid #B81C22;
}
.sec li{
	height:35px;
	line-height: 35px;
	text-align: center;
	color: #727171;
	border-left:1px solid #ccc;
}
.sec li:last-child{
	border-bottom:1px solid #ccc;
}
.banner{
	width: 1200px;
	height: 535px;
	background: #eef4f4;
	margin: 0 auto;
	position: relative;
	/* position: absolute; */
}
.banner-tu li{
	position:absolute;
	left:0;
	top:0;
	transition: all 1s;
	opacity:0;
}
.banner-tu li:first-child{
	z-index: 1;
	display: block;
	opacity:1;
}
.lunbo{
	width:112px;
	height:12px;
	z-index: 999;
	position:absolute;
	left:0;
	right:0;
	margin:auto;
	bottom:23px;
	display: flex;
	justify-content: space-between;
}
.lunbo li{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #dddddd;
	cursor: pointer;
}
.lunbo li:first-child{
	background: red;
}
.bn{
	width: 100%;
	height: 100%;
}
.jiantou{
     width: 43px;
     height: 52px;
     background-image: url('../img/凡客图/focus_lr0918.png');
	background-position: 0px -5px;
     position: absolute;
     left: 10px;
     top: 232px;
	z-index: 3;
	cursor: pointer;
}
.jiantou1{
     width: 43px;
     height: 52px;
     background-image: url('../img/凡客图/focus_lr0918.png');
     background-position: -40px -5px;
     position: absolute;
     right: 10px;
     top: 232px;
	z-index:3;
	cursor: pointer;
}
.neirong{
	width: 1200px;
    height: 130px;
	/* background: red; */
	margin: 0 auto;
}
.name{
	
	/* background: green; */
	text-align: center;
	line-height: 130px;
	font-size: 17px;
	color: #808080;
}
.tpk{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.tupian{
	width: 390px;
	height: 600px;
	background: #cccccc;
	float: left;
	margin-right: 15px;
}
.tupian1{
	width: 390px;
	height: 600px;
	background: #cccccc;
	float: left;
}
.han{
	width: 1200px;
	height: 639px;
	/* background: yellow; */
	margin: 0 auto;

}
.han1{
	width: 1200px;
	height: 130px;
	/* background: pink; */
	font-size: 17px;
	color: #808080;
	text-align: center;
	line-height: 130px;
	float: left;
	/* border-bottom: 1px solid  #e8e7ec;
	border-right: 1px solid  #e8e7ec;
	border-left: 1px solid  #e8e7ec; */
}
.han2{
	width: 590px;
	height: 509px;
	/* background: green; */
	float: left;
	margin-right: 17px;
	border-bottom: 1px solid  #e8e7ec;
	border-right: 1px solid  #e8e7ec;
	border-left: 1px solid  #e8e7ec;
	box-sizing: border-box;
}
.pic{
	width: 590px;
	height: 440px;
}
.wenzi{
	font-size: 11px;
	color: #333333;
	float: left;
	margin-left: 11px;
	margin-top: 26px;
}
.wenzi1{
	font-size: 11px;
	color: #a10000;
	float: right;
	margin-right: 12px;
	margin-top: 26px;
}
.han3{
	width: 290px;
	height: 509px;
	/* background: #ffcccc; */
	float: left;
	margin-right: 14px;
	box-sizing: border-box;

}
.kuang{
	width: 290px;
	height: 69px;
	font-size: 13px;
	color: #a10000;
	line-height: 69px;
    border-bottom: 1px solid  #e8e7ec;
	border-right: 1px solid  #e8e7ec;
	border-left: 1px solid  #e8e7ec;
	box-sizing: border-box;
}
.wenzi2{
	font-size: 11px;
	color: #333333;
	float: left;
	margin-left: 11px;
}
.fk{
	margin-bottom: 26px;
}
.wenzi3{
	font-size: 11px;
	color: #a10000;
	float: right;
	margin-right: 12px;
}
.pic1{
	height: 100%;
	height: 180px;
	
}
.pic2{
	height: 100%;
	height: 175px;
	margin-top: 8px;
}
.han4{
	width: 285px;
	height: 509px;
	/* background: #ffcccc; */
	float: left;
	border-bottom: 1px solid  #e8e7ec;
	border-right: 1px solid  #e8e7ec;
	border-left: 1px solid  #e8e7ec;

	
}
.w{
	margin-left:11px; 
	line-height: 68px;
	float: left;
	margin-right: 45px;
}
.ww{
    /* margin-right: 12px; */
    line-height: 68px;
    float: left;
    color: #ab0000;
}
.di{
	width: 1198px;
	height: 282px;
	/* background: #aaaccc; */
	margin: 0 auto;
	border: 1px solid #e8e7ec;
	margin-top: 48px;

}
.k{
	width: 410px;
	height: 138px;
	/* background: yellow; */
	margin-top: 33px;
	border-right: 1px solid #e8e7ec;
	float: left;
}
.k1{
	width: 416px;
	height: 138px;
	/* background: yellow; */
	margin-top: 33px;
	float: right;
}
.k2{
	width: 370px;
	height: 138px;
	/* background: yellow; */
	margin-top: 33px;
	border-right: 1px solid #e8e7ec;
	float: left;
}
.p1{
	margin-top: 28px;
	margin-left: 188px;
	float: left;

}
.p2{
	width: 156px;
	height: 32px;
	background: #b81c22;
	margin-top: 100px;
	margin-left: 125px;
	text-align: center;
	line-height: 32px;
	color: #ffffff;
}
.p3{
	margin-top: 28px;
	margin-left: 166px;
	float: left;
}
.p4{
	width: 156px;
	height: 32px;
	/* background: #b81c22; */
	margin-top: 70px;
	margin-left: 105px;
	text-align: center;
	line-height: 32px;
	color: #727171;
}
.p5{
	width: 156px;
	height: 32px;
	/* background: #b81c22; */
	margin-top: 5px;
	margin-left: 105px;
	text-align: center;
	line-height: 32px;
	color: #727171;
}
.p6{
	 width: 88px;
	 height: 88px;
	 margin-left: 164px;
	 margin-top: 10px;
}
.p7{
	width: 156px;
	height: 32px;
	/* background: #b81c22; */
	margin-top: 1px;
	margin-left: 130px;
	text-align: center;
	line-height: 32px;
	color: #727171;
}
.k3{
	width: 1118px;
	height: 57px;
	background: #f8f8f8;
	margin: 0 auto;
	margin-top: 195px;
}
.wz{
	float: left;
	padding:0px 56px;
	border-right: 1px solid #ccc;
	margin-top: 20px; 
}
.wz1{
	float: left;
	padding:0px 56px;
	margin-top: 20px; 
}
.back{
	width: 75px;
	height: 205px;
	background: blue;
	right: 10px;
	bottom: 100px;
	position: fixed;
	z-index: 999;
	cursor: pointer;
}
.dibu{
	width: 1200px;
	height: 54px;
	/* background: yellow; */
	margin: 0 auto;
	margin-top: 25px;
	border-top: 1px solid #e0e0e1;
}
.diwen{
	font-size: 12px;
	color: #3e3a39;
	text-align: center;
	margin-top: 18px;
}
.diwen1{
	font-size: 12px;
	color: #3e3a39;
	text-align: center;
	margin-top: 13px;
}
.zh{
	width: 1200px;
	height: 70px;
   /*  background: green; */
    margin: 0 auto;
    margin-top: 37px;
}
.zh1{
	width: 112px;
	height: 40px;
	background-image: url('../img/凡客图/spritesbgtop.png');
	background-position: 0px -582px;
	float: left;
	margin-left: 220px;
	margin-right: 21px;
}
.zh2{
	width: 154px;
	height: 45px;
	background-image: url('../img/凡客图/spritesbgtop.png');
	background-position: -1px -629px;
	float: left;
	margin-right: 24px;
}
.zh3{
	width: 96px;
	height: 42px;
	background-image: url('../img/凡客图/spritesbgtop.png');
	background-position: 0px -674px;
	float: left;
	margin-right: 26px;
}
.zh4{
	width: 101px;
	height: 42px;
	background-image: url('../img/凡客图/spritesbgtop.png');
	background-position: -97px -674px;
	float: left;
	margin-right: 24px;
}
.zh5{
	width: 42px;
	height: 42px;
	background-image: url('../img/凡客图/spritesbgtop.png');
	background-position: -202px -674px;
	float: left;
	margin-right: 20px;
}
.zh6{
	width: 120px;
	height: 39px;
}
