body{
	/*background: #000;*/
}
.box{
	width: 100%;
	/*height: 660px;*/
	/*overflow-x: hidden;
	overflow-y: visible;*/
	background-image: url('../img/banner.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
.welcom{
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 100px;
	font-size: 50px;
	color: #fff;
}
.w{
	width: 300px;
	height: 100px;
	position: absolute;
	left:0;
	right:0;
	margin:auto;
	top:-300px;
	transition: all .5s;
}
/* .banner{
	width: 100%;
	height: 678px;
	background-image: url('../img/banner.jpg');
	background-position: center center;
	background-size: 100%;
	background-repeat: no-repeat;
	float: left;
	position: fixed;
	top: 0;
}*/
.banner{
	background-image: url('../img/header.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
.banner main{
	width: 1140px;
	height: 100%;
	margin: 0 auto;
	padding-top: 50px;
}
.top-nav{
	width: 1140px;
	height: 55px;
	background: rgba(0, 0, 0, .6);
	/*margin: 0 auto;*/
	/*margin-top: 50px;*/
	padding: 0 20px;
	position: fixed;
	top:0;
	left:0;
	right:0;
	margin:auto;
}
.top-nav span{
	font-size: 30px;
	color: #fff;
	float: left;
	line-height: 55px;
	/* padding-left: 20px; */
	/* margin-top: -25px; */
/* margin-left: 20px; */
} 
.liebiao{
	width: 40px;
	height: 40px;
	background-image: url('../img/列表.png');
	background-size: 100%;
	background-position: center center;
	float: right;
	margin-top: 7px;
	margin-right: 30px;
	/* display: none; */
}
.top-nav ul{
	float: right;
	width: 500px;
	height: 100%;
	text-align: justify;
	/* margin-top: -25px; */
}
.top-nav ul:after{
	content:"";
	display: inline-block;
	height: 0;
    width: 100%;
}
.top-nav ul li{
	width:65px;
	/* float: left; */
	font-size: 14px;
	color: #fff;
    line-height: 55px;
    display: inline-block;

}
.top-nav a{
	color: #fff;
}
.top-nav a:hover{
	color: #2798FF;
}
.jianjie{
	width: 100%;
	/* height: 494px; */
	overflow: hidden;
	background: rgba(0, 0, 0, .6);
	margin: 0 auto;
	/*margin-top: 20px;*/
	padding : 40px;
}
.jianjie-right{
	width: 50%;
	/* height: 494px; */
	/* background: yellowgreen; */
	float: right;
}
.jianjie-right ul{
	width: 100%;
	height: 100%;
	float: left;
}
.jianjie-right ul li{
	width: 210px;
	margin: 0 auto;
	font-size: 20px;
	color: #fff;
	line-height: 60px;
	text-align:left;
}
/*.jianjie-right ul li:nth-child(6){
	width: 210px;
}*/
.jianjie-right ul li:nth-child(1){
	line-height: 40px;
	font-size: 20px;
	color: #fff;
    text-align: center;
}
.jianjie-right ul li:nth-child(2){
	line-height: 40px;
	width: 300px;
	height: 20px;
	background-image: url('../img/ui2lines.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position:center center;
   margin: 0 auto;
}
.jianjie-left{
	width: 50%;
	height: 494px;
	/* background: pink; */
	background-image: url('../img/geren.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position:top;
	float: left;
}
.jieshao{
	width: 100%;
	height: 580px;
	/* background: #f4f4f4; */
	float: left;
	padding: 20px 0;
}
.jieshao main{
	width: 1140px;
	height: 100%;
	margin: 0 auto;
}
.title{
	font-size: 20px;
	color: #fff;
	font-weight: 600;
	line-height: 50px;
	text-align: center;
	margin: 0 auto;
}
.jieshao  li{
	width: 50%;
	height: 100%;
	/* background: red; */
	float: left;
	font-size: 14px;
	color: #fff;
	line-height: 50px;
	padding: 20px;
}
.jieshao  li:nth-child(2){
    background-image: url('../img/geren.jpg');
    background-repeat: no-repeat;
	background-size: 100%;
	background-position:top;
}
.skill{
	width: 100%;
	overflow: hidden;
	/* background: pink; */
	float: left;
	padding: 40px 0;
	/*margin-top: 20px;*/
	background-image: url('../img/fullscreen-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:top;
}
.bj{
	width: 100%;
	overflow: hidden;
	 background: rgba(0, 0, 0, .6);
}
.title1{
	font-size:20px;
	color: #fff;
	font-weight: 600;
	line-height: 50px;
	text-align: center;
	margin-top: 20px;
}
.skill  li{
	/* width: 50%; */
	/* height: 100%; */
	overflow: hidden;
    /* background: yellowgreen; */
    float: left;
    font-size: 20px;
    color: #fff;
   
  /*   overflow: hidden; */
}
.skill  li:nth-child(1){
     padding: 0 50px 100px 0;
}
.skill  li:nth-child(2){
     padding: 100px 50px 100px 50px;
}
.jnbox{
	width: 100%;
	height: 60px;
	margin: 0 auto;
	/* background: red; */
	padding-left: 50px;
}
.jnzi{
	width: 10%;
	height: 10px;
	float: left;
	margin-top: 2.7rem;
	margin-left: 1rem;

}
.zi{
	width: 100%;
	height: 20px;
	margin: 0 auto;
	line-height: 60px;
}
.kuang1{
	width: 60%;
	height: 10px;
	background: #fff;
	margin: 0 auto;
	border-radius:10px;
	margin-top: 50px ;
	float: left;
	/* margin-left: 80px; */
}
.zii{
	font-size: 20px;
	color: #fff;
	float:left;
	line-height: 60px;
}
.kuang2{
	width: 80%;
	height: 100%;
	background:#2798FF;
	float: left;
	border-radius:10px;
}
.kuang3{
	width: 70%;
	height: 100%;
	background:#2798FF;
	float: left;
	border-radius:10px;
}
.kuang4{
	width: 85%;
	height: 100%;
	background:#2798FF;
	float: left;
	border-radius:10px;
}
.kuang5{
	width: 60%;
	height: 100%;
	background:#2798FF;
	float: left;
	border-radius:10px;
}

.zuopin1{
	width: 100%;
	height:100%;
	overflow: hidden;
	/* background: red; */
	float: left;
	display: flex;
	align-content: space-between;
	flex-direction: column;
	background-image: url('../img/full_image_3.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position:top;
}

/* .zuopin1{
	width: 1140px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	align-content: space-between;
	flex-direction: column;

} */
.zuopin1  ul{
	/* width: 100%; */
	height: 100%;
	background: rgba(0, 0, 0, .6);
	display: inline-block;
	text-align: justify;
}
.zuopin1  ul:after{
    content: "";
    display: inline-block;
    height: 0;
    width: 100%;
}

.zuopin1  ul li{
	width:200px;
	height: 50px;
	background: rgba(0, 0, 0, .6);
	display: inline-block;
	/*line-height: 100%;*/
	margin-top: 50px;
	border-radius: 50px;
	font-size: 20px;
	color: #fff;
	line-height: 50px;
	text-align: center;
}
.zuopin1 ul li a{
	color: #fff;
}
.zuopin1 ul li:hover a{
	 text-decoration: underline;
	 display: block;
}
.zuopin1 ul li:hover{
	background: rgba(255, 255, 255, .6);
}
.ps{
	width: 100%;
	overflow: hidden;
	/* background: red; */
	float: left;
	/*margin-top: 20px;*/
	background-image: url('../img/banner1.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position:top;
	padding-top: 100px;

}
/* .ps .container{
	width: 1140px;
	height: 100%;
	margin: 0 auto;
} */
.ps1{
	width: 100%;
	/* height: 100%; */
	overflow: hidden;
	border: 1px solid #2798FF;
	text-align: justify;
	padding: 10px;
	position: relative;
}
.ps1:hover .zuo{
	display: block;
	animation: xianshi .3s linear forwards;
}
.ps1:hover .you{
	display: block;
	animation: xianshi .3s linear forwards;
}
.zuo{
	width: 40px;
	height: 60px;
	background: #b0b0b0;
	position: absolute;
	left: 0;
	top: 12rem;
	font-size: 50px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	line-height: 60px;
	display: none;
}
.you{
		width: 40px;
	height: 60px;
	background: #b0b0b0;
	position: absolute;
	right: 0;
	top: 12rem;
	font-size: 50px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	line-height: 60px;
	display: none;
}
.ps1:after{
	content: "";
	display: inline-block;
	height: 0;
	width: 100%;
}
.ps1 li{
	
	height: 100%;
	height: 400px;
	overflow: hidden;
	/* background: yellowgreen; */
	display: inline-block;
	
}
.ps1 li:hover .focus {
	display: block;
	animation: xianshi .5s linear forwards;
}

.focus{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .6);
	display: none;
	position: relative;
	float: left;
}
@keyframes xianshi{
			0%{
				opacity: 0;
				
			}
			10%{
				opacity: 0.1;
				
			}
			20%{
				opacity: 0.2;
				
			}
			30%{
				opacity: 0.3;
				
			}
			40%{
				opacity: 0.4;
				
			}
			50%{
				opacity: 0.5;
				
			}
			60%{
				opacity: 0.6;
				
			}
			70%{
				opacity: 0.7;
				
			}
			80%{
				opacity: 0.8;
				
			}
			90%{
				opacity: 0.9;
				
			}
			100%{
				opacity: 1;
				
			}
		}
.more{
	width: 30%;
	height: 10%;
	background:  #2798FF;
	border-radius: 2rem;
	/* margin: 0 auto; */
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	font-size: 15px;
	color: #fff;
	text-align: center;
	
}
.more span{
	vertical-align: center;
	display: block;
	margin-top: .5rem;
}
.tishi{
	font-size: 30px;
	color: #fff;
	text-align: center;
	margin-top: 5rem;
	font-weight: bold;
}
.ps1 li:nth-child(1){
     background-image: url('../img/1 (2).jpg');
     background-repeat: no-repeat;
     background-position: center center;
     background-size: 100%;
}
.ps1 li:nth-child(2){
     background-image: url('../img/1.jpg');
     background-repeat: no-repeat;
     background-position: center center;
     background-size: 100%;
}
.ps1 li:nth-child(3){
     background-image: url('../img/2.jpg');
     background-repeat: no-repeat;
     background-position: center center;
     background-size: 100%;
}
.ps1 li:nth-child(4){
     background-image: url('../img/2.jpg');
     background-repeat: no-repeat;
     background-position: center center;
     background-size: 100%;
}
.jiemian{
	width: 100%;
	height: 300px;
	/* background: yellowgreen; */
	float: left;
	/*margin-top: 50px;*/
	overflow: hidden;
	padding-top: 100px;
	background-image: url('../img/banner.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
}
.jiemian main{
	/*  */
	height: 300px;
	margin: 0 auto;
	overflow: hidden;
    text-align: justify;
}
.jiemian main:after{
	content: "";
	display: inline-block;
	height: 0;
	width: 100%;
}
.jiemian main li{
	width: 30%;
	height: 300px;
	/* background: pink; */
	display: inline-block;
	overflow-x: hidden;
	overflow-y: visible;
}
.jm{
	width: 100%;
}
/* .jiemian main li:nth-child(1){
     background-image: url('../img/活动列表.jpg');
     background-repeat: no-repeat;
     background-position:top;
     background-size: 100%;
} */
.lianxi{
	width: 100%;
	height: 300px;
	float: left;
	/* background: pink; */
	background: rgb(51, 51, 51);
	background-image: url('../img/home-bg.jpg');
	background-repeat: no-repeat;
	background-position:top;
	background-size: 100%;

}
.lianxi main{
	width: 1140px;
	height: 100%;
	margin: 0 auto;
	background: rgba(0, 0, 0, .6);
}
.title2{
	font-size: 30px;
	color: #fff;
	font-weight: 600;
	line-height: 50px;
	text-align: left;
	margin-top: 20px;
	padding-left: 50px;
}
.lianxi ul li{
	font-size: 18px;
	color:#fff;
	line-height: 50px;
}
.lianxi ul{
	float:right;
	padding:  20px 50px 20px;
	/* background: rgba(0, 0, 0, .6); */
}
.lianxi ul:nth-child(2){
	float: left;
}
.erweima{
	width: 150px;
	height: 150px;
	background-image: url('../img/timg.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
.next{
	width:50px;
	height:50px;
	position: fixed;
	left:50%;margin-left: -15px;
	bottom:20px;
	background-image: url('../img/shubiao.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
