/* @cols 12   [把每个容器等比的分为12列 ]
/* 需要响应的屏幕大小 */
/* @num1 768px
@num2 992px
@num3 1200px
 */
/* .container-fluid   100%的宽度
.container    有固定宽度
.row   每一行
.col-   最小的子元素 */ 
.container-fluid{    /* 最大通屏 */
	display: block;  /* （防止都在一行排列） */
	width: 100%;
	margin: auto;
}
.container{  /* 内宽 */
	/* padding: 0 15px; */
	margin: auto;
}
.row{
	width: 100%;
	/* margin: 0 -15px; */
}
.row:after{
	content: "";
	display: inline-block;
	height: 0;
	width: 100%;
	line-height: 0;
	clear: both;
}
[class*='col-']{
	float: left;
	padding: 0 15px;
}
/* 最小屏 */

@media  screen and (max-width: 768px){
	.container{
		padding: 0 15px;
	}
	.col-xs-1{
		width: 8.33333333%;

	}
	.col-xs-2{
		width: 16.6666667%;

	}
	.col-xs-3{
		width: 25%;

	}
	.col-xs-4{
		width: 33.333333%;

	}
	.col-xs-5{
		width: 41.666667%;

	}
	.col-xs-6{
		width: 50%;

	}
	.col-xs-7{
		width: 58.333333%;

	}
	.col-xs-8{
		width: 66.666666%;
	}
	.col-xs-9{
		width: 74.999999%;

	}
	.col-xs-10{
		width: 83.22222%;

	}
	.col-xs-11{
		width: 91.555555%;

	}
	.col-xs-12{
		width: 100%;

	}
		.liebiao{
		display: block;
	}
	.top-nav ul{
       display: none;
	}
	.ps1 li{
		width: 40%;
	}
		.jiemian main{
		padding: 0 15px;
	}
}
/* 小屏>=768px */
@media  screen and (min-width: 768px){
	.container{
		width: 750px;
	}
	.col-sm-1{
		width: 8.33333333%;

	}
	.col-sm-2{
		width: 16.6666667%;

	}
	.col-sm-3{
		width: 25%;

	}
	.col-sm-4{
		width: 33.333333%;

	}
	.col-sm-5{
		width: 41.666667%;

	}
	.col-sm-6{
		width: 50%;

	}
	.col-sm-7{
		width: 58.333333%;

	}
	.col-sm-8{
		width: 66.666666%;
	}
	.col-sm-9{
		width: 74.999999%;

	}
	.col-sm-10{
		width: 83.22222%;

	}
	.col-sm-11{
		width: 91.555555%;

	}
	.col-sm-12{
		width: 100%;

	}
		.liebiao{
		display: none;
	}
	.ps1 li{
		width: 40%;
	}
	.jiemian main{
		padding: 0 15px;
	}
}
/* 中屏>=992px */
@media  screen and (min-width: 992px){
	.container{
		width: 970px;
	}
	.col-md-1{
		width: 8.33333333%;

	}
	.col-md-2{
		width: 16.6666667%;

	}
	.col-md-3{
		width: 25%;

	}
	.col-md-4{
		width: 33.333333%;

	}
	.col-md-5{
		width: 41.666667%;
	}
	.col-md-6{
		width: 50%;

	}
	.col-md-7{
		width: 58.333333%;

	}
	.col-md-8{
		width: 66.666666%;
	}
	.col-md-9{
		width: 74.999999%;

	}
	.col-md-10{
		width: 83.22222%;

	}
	.col-md-11{
		width: 91.555555%;

	}
	.col-md-12{
		width: 100%;

	}
		.liebiao{
		display: none;
	}
	.ps1 li{
		width: 23%;
	}
	.jiemian main{
		padding: 0 15px;
	}
}

/* 大屏>=1200px */

@media  screen and (min-width: 1200px){
	.container{
		width: 1140px;
	}
	.col-lg-1{
		width: 8.33333333%;

	}
	.col-lg-2{
		width: 16.6666667%;

	}
	.col-lg-3{
		width: 25%;

	}
	.col-lg-4{
		width: 33.333333%;

	}
	.col-lg-5{
		width: 41.666667%;
	}
	.col-lg-6{
		width: 50%;

	}
	.col-lg-7{
		width: 58.333333%;

	}
	.col-lg-8{
		width: 66.666666%;
	}
	.col-lg-9{
		width: 74.999999%;

	}
	.col-lg-10{
		width: 83.22222%;

	}
	.col-lg-11{
		width: 91.555555%;

	}
	.col-lg-12{
		width: 100%;

	}
	.liebiao{
		display: none;
	}
	.ps1 li{
		width: 23%;
	}
	.jiemian main{
		width: 1140px;
	}
}


