body{
    padding:0;
    margin:0;
}
.top{
    width: 100%;
    height:25px;
    background: #f6f6f6;
    border-bottom:1px solid #ececec  ;
}
.top  a{
    color: #888;
}
.top main a:hover{
    color:#25b2fe ;
}
.top main{
    width:1200px;
    height:100%;
    margin:0 auto
}
.top-left{
    width:141.17px;
    height:100%;
    display: flex;
    justify-content: space-between;
    float: left;
}
.top-left li{
    text-align: center;
    line-height: 25px;
    border-right:1px solid #ececec ;
    font-size: 12px;
    padding:0 10px;
    color: #888;
}
.top-right{
    width:auto;
    height:100%;
    float: right;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.top-right li{
    text-align: center;
    line-height: 25px;
    border-right:1px solid #ececec ;
    font-size: 12px;
    padding:0 10px;
    color: #888;
}
.top-right li:last-child{
    border-right:0;
}
.top-right li:first-child{
    color: #e40077;
    background-image:url("../img/image/t1.png");
    background-size: 12px;
    background-position: left;
    background-repeat: no-repeat;
   padding-left: 25px;
}
.top-right li:nth-child(2){
    background-image:url("../img/image/t2.png") 10px center no-repeat;
    padding-left: 25px;
}
.login{
    width:170px;
    height: 121px;
    background: #fff;
    position: absolute;
    top:25px;
    left:0;
    display: none;
    z-index: 9999;
}
.login1{
    width: 140px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #e4e4e4;
    margin: 5px 15px;
    color: #25b2fe;
    margin-top: 18px;
    text-align: center;
    font-size: 14px;

}
.yy{
    width:160px;
    height:156px;
    background-image: url("../img/er.png");
    position: absolute;
    left:60px;
    top:25px;
    z-index: 10;
    display: none;
}
.nav{
    width:1200px;
    height:132px;
    margin:0 auto;
}
.nav-top{
    width:100%;
    height:92px;
    padding:15px 50px 15px 0;
}
.logo{
    width:230px;
    height:52px;
    float: left;
    padding-top: 10px;
}
.ad{
    width:43px;
    height:25px;
    float: left;
    margin: 20px 0 0 20px;
    font-size: 14px;
    line-height:25px;
}
.nav-topr{
    width:575px;
    height:62px;
    float: right;
}
.nav-ssk{
    width:100%;
    height:36px;
}
.nav-ssk input{
    width:490px;
    height:100%;
    float: left;
    border-right: 0;
    padding-left: 15px;
    outline: none;
}
.nav-ss{
    width:85px;
    height:36px;
    float: left;
    text-align: center;
    color: #fff;
    line-height:36px;
    background: #25b2fe;
    cursor: pointer;
}
.sstu{
    display:inline-block;
}
.nav-toprx{
    width:100%;
    height:36px;
    padding-top: 5px;
}
.nav-toprx li{
    width:auto;
    height:16px;
    padding-right: 20px;
    font-size: 12px;
    line-height:20px ;
    float: left;
}
.nav-toprx a{
    color: #666;
}
 .nav-topr .nav-toprx li a:hover{
    text-decoration: underline;
    color:  #25b2fe;
}
.nav-toprx li:nth-child(1) a{
    color: #e40077;
}
.nav-toprx li:nth-child(3) a{
    color: #e40077;
}
.nav-toprx li:nth-child(5) a{
    color: #e40077;
}
.navbar{
    width:1200px;
    height:40px;
    position: relative;
}
.navbar ul li{
    width:260px;
    height:40px;
    float: left;
    text-align: center;
    line-height: 40px;
    background: #e1e1e1;
    border-right: 1px solid #fff;
    color: #333;
}
.n1{
    height:40px;
    float: left;
    text-align: center;
    line-height: 40px;
    background: #e1e1e1;
    border-right: 1px solid #fff;
    width:160px;

    border-top: 2px solid #0085d0;
    cursor: pointer;
}
.n1 a{
    color: #0085d0;
}
.navbar li .navli{
    width:1200px;
    height:40px;
    background: #fff;
    position: absolute;
    left:0;
    top:45px;
    z-index: 9999;
    box-shadow: 0px 6px 12px -4px rgba(0, 0, 0, 0.176);
    display: none;
}
.navbar li .navli li{
    width:14%;
    height:100%;
    float: left;
    line-height: 40px;
    text-align: center;
    background: none;
    border:0;
    color:#666;
    font-size: 14px;
}
.navbar li a{
    color:#666;
}
.navbar li a:hover{
    color:#0085d0;
}
.navbar li .navli li a{
    color:#666;
}
.navbar li .navli li a:hover{
    color: #0085d0;
}

.bannerk{
    width:1200px;
    height:350px;
    margin:0 auto;
    margin-top: 5px;
}
.bannerz{
    width:160px;
    height:350px;
    float: left;

    padding:8px 10px 10px 10px;
    border: 1px solid #b8d9e9;
    margin-right: 10px;
}
.bannerz li a{
    color:#000;
}
.bannerz li a:hover{
    color: #0085d0;
}
.bannerz p{
    font-size: 12px;
    color: #333;
    text-align: center;
    line-height: 30px;
}

.bannerz ul li{
    width:100%;
    height:52px;
    line-height: 52px;
    border-top: 1px solid #e9e9e9;
    font-size: 15px;
    color: #333;
    /*text-align: center;*/


}
.bannerz ul li img{
    float: left;
    padding: 15px 10px 0 25px;
}
.banner{
    width:740px;
    height:350px;
    background: #ccc;
    float: left;
    position: relative;
    overflow: hidden;
}
.banner ul  li{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
}
.banner ul  li:first-child{
    z-index: 2;
}
.banner-zuo{
    width:30px;
    height:70px;
    background-image: url("../img/lbnextpre.png");
    position: absolute;
    top:0;
    bottom:0;
    margin:auto;
    left:0;
    opacity: .4;
    z-index: 9999;
}
.banner-you{
    width:30px;
    height:70px;
    background: url("../img/lbnextpre.png") right 0;
    position: absolute;
    top:0;
    bottom:0;
    margin:auto;
    right:0;
    opacity: .4;
    z-index: 9999;
}
@keyframes leftout {
    0%{
        left:0;
    }
    100%{
        left:-740px;
    }
}
.leftOut{
    animation: leftout 1s ease-in;
}
@keyframes leftin {
    0%{
        left:740px
    }
    100%{
        left:0;
    }
}
.leftIn{
    animation:leftin 1s ease-in;
}
@keyframes rightOut {
    0%{
        left:0;
    }
    100%{
        left:740px;
    }
}
.rightOut{
    animation: rightOut 1s ease-in;
}
@keyframes rightIn {  /*从左向右进*/
    0%{
        left:-740px;
    }
    100%{
        left:0;
    }
}
.rightIn{
    animation: rightIn 1s ease-in;
}
.lunbo{
    width:125px;
    height:17px;
    position: absolute;
    left:0;
    right:0;
    margin: auto;
    bottom:10px;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
}
.banner .lunbo li{
    width:15px;
    height:15px;
    background: #ccc;
    border-radius: 50%;
}
.banner .lunbo .active{
    background: #E40077;
}
.kj {
    width: 278px;
    height: 100%;
    float: right;
    border: 1px solid #dfdfdf;
}
.kj-top{
    width:100%;
    height:171px;
    padding-top: 5px;
}
.kj-top li{
    width:91.08px;
    height:78px;
    float: left;
}
.kj-top li p{
    text-align: center;
    font-size: 12px;
    color: #333;
}
.tu{
    width:100%;
    height:55px;
    float: left;
}
.tu img{
    display: block;
    margin:0 auto;
    margin-top:10px;
}
.chongzhik{
    width: 100%;
    height: 185px;
    padding: 20px 20px 10px 20px;
    float: left;
}
.chong-top{
    width: 100%;
    height: 20px;
    padding: 0 5px;
    color: #333;
    line-height: 20px;
    float: left;
    font-size: 14px;
    font-weight: bold;
}
.chong-top span{
    float: right;
    color: #ff0000;
    font-size: 12px;
}
.chong-middle{
    float: left;
    border: 1px solid #dadada;
    border-radius: 3px;
    height: 36px;
    width: 235px;
    padding: 3px 5px;
    position: relative;
    margin-top: 8px;
}
.chong-middle input{
    width: 100%;
    height: 100%;
    border: 0;
    line-height: 100%;
    color: #ccc;
    outline: none;
}
.chong-bottom{
    width: 100%;
    height: 56px;
    padding: 10px 0;
    float: left;
    display: flex;
    justify-content: space-between;
}
.chong-bottom li{
    width: 44px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #dadada;
    color: #666;
    cursor: pointer;
    font-size: 14px;
}
.chong-bottom li a{
    color: #666;
}
.chong-bottom li:first-child{
    color: #fff;
    background: #e40077;
    border: 1px solid #e40077;
}
.chong-bottom li:hover{
    background: #e40077;
    color:#fff;
}
.chongbtn{
    width: 100%;
    height: 35px;
    float: left;
    position: relative;
}
.chongbtn input {
    width: 90px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #33acfb;
    color: #fff;
    border-radius: 3px;
    border: 0;
    outline: none;
    cursor: pointer;
}
.lunbo1{
    width: 1200px;
    height: 180px;
    margin: 0 auto;
    background: #dfdfdf;
    position: relative;
    margin-top: 10px;
    padding: 10px 15px;
    overflow: hidden;
}
.lbzuo{
    height: 35px;
    width: 28px;
    background:url("../img/twojian.png");
    background-position: 0 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 10;
}
.lbyou{
    height: 35px;
    width: 28px;
    background:url("../img/twojian.png");
    background-position: -30px 0px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 10;
}
.lbkuang{
    width: 1170px;
    height: 160px;
    overflow: hidden;
    position: relative;

}
.lbtuk{
    width: 4720px;
    height: 160px;
    overflow: hidden;
    margin-left: -1180px;
    transition: all 1s linear;
}
.lbitems{
    float: left;
    width: 285px;
    height: 160px;
    margin-right: 10px;
    background: #fff;
    position: relative;
}
.lbitems a{
    display: inline-block;
}
.lbitems h1{
    font-weight: bold ;
    font-size: 18px;
    color: #333;
    padding: 6px 0 0 20px;
}
.lbitems h2{
    font-weight: normal;
    font-size: 14px;
    color: #666;
    padding: 0 0 0 20px;
}
.lbitems img{
    width: 235px;
    height: 110px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: auto;
}
/*4g*/
.zhuanqu{
    width: 1200px;
    height: 427px;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #dfdfdf;
}
.zq-title{
    float: left;
    width: 100%;
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #dfdfdf;
    padding: 0 25px;
    color: #0085d0;
    font-size: 15px;
    font-weight: bold;
}
.zq-title a{
    float: right;
    font-size: 12px;
    line-height: 48px;
    color: #666;
}
.zq-one{
    width: 25%;
    float: left;
    position: relative;
    overflow: hidden;
    height: 377px;
}
.zq-two{
    float: left;
    width: 25%;
    height: 377px;
    border-left: 1px solid #dfdfdf;
}
.zqitem{
    float: left;
    width: 100%;
    height: 50%;
    position: relative;

}
.zqitem img{
    transition: all .5s linear;
}
.zqitem img:hover{
    transform: translateX(-10px);
}
.zq-two li:first-child{
    border-bottom: 1px solid #dfdfdf;
}

.zqitem a{
    display: inline-block;
}
.zqitem p{
    font-size: 19px;
    color: #333333;
    padding: 6px 0 0 20px;
}
.zqitem h2{
    font-weight: normal;
    font-size: 14px;
    color: #666;
    padding: 0 0 0 20px;
}
.zqitem img{
    width: 220px;
    height: 130px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: auto;
}
.zqte{
    background: #efefef;
}
.zqte p{
    color:#E40077;
}
/*mai*/
.mai{
    width: 1200px;
    height: 430px;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #dfdfdf;
}
.mai1{
    float: left;
    width: 25%;
    height: 380px;
    border-right: 1px solid #dfdfdf;
    overflow: hidden;
    padding-top: 20px;
    padding-left: 20px;
    position: relative;
}
.mai1 .p1{
    font-size: 14px;
    color: #666;
}
.mai1 .p2{
    line-height: 22px;
    font-size: 12px;
    color: #0085D0;
}
.mai1 a{
    color: #EF33A2;
}
.mai1 a .p3{
    font-size: 20px;
    margin-top: 12px;
}
.mai1 img:hover{
    transform: translateX(-10px);
}
.mai1 img{
    width: 220px;
    height: 265px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: auto;
    transition: all .5s linear;
}
.xia{
    width: 1200px;
    height: 38px;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #dfdfdf;
    overflow: hidden;
}
.xia span{
    background: url("../img/laba.png") no-repeat 20px center;
    color: #666;
    float: left;
    padding-left: 50px;
    font-size: 15px;
    line-height: 38px;
}
.gg{
    width:80%;
    height:auto;
    float: left;
}
.xia ul{
    width: 80%;
    height: 38px;
    float: left;
    overflow: hidden;
}
.xia1{
    width: 50%;
    height: 100%;
    float: left;
}
.xia1 a{
    color: #0085d0;
    width: 70%;
    height: 100%;
    line-height: 38px;
    font-size: 15px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.xia1 span{
    color: #CCC;
    float: left;
    background: none;
    padding: 0 0 0 5px;
    width: 30%;
    height: 38px;
    line-height: 38px;
}
.xia1-jiantou{
    width: 64px;
    height: 38px;
    line-height: 38px;
    float: right;
    padding: 0 20px 0 0;
}
.xia1-zuo,.xia1-you{
    display: inline-block;
    float: left;
    width: 50%;
    height: 100%;
    line-height: 38px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
/*di*/
.di{
    width: 1200px;
    height: 231px;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #dfdfdf;
    padding: 20px 0 20px 35px;
}
.di1{
    width: 100%;
    height: 100%;
}
.di1 li{
    display: inline-block;
    float: left;
    width: 20%;
    height: 100%;
}
.di1 li h2{
    color:#666666;
    height: 27px;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
}
.di1-1{
    width: 100%;
    height: 162px;
    float: left;
    color: #666;
}
.di1-1 a{
    display: inline-block;
    width: 100%;
    height: 27px;
    color: #666;
    font-size: 15px;
}
/*bottom*/
.dibigk{
    width: 100%;
    height: 228px;
    text-align: center;
    padding: 20px 0;
    font-size: 12px;
}
.dibu-one{
    width: 100%;
    height: 33px;
    text-align: center;
}
.dibu-one a{
    color: #666;
    display: inline-block;
    line-height: 33px;
}
.dibu-two{
    width: 100%;
    height: 33px;
    line-height: 33px;
    color: #333;
}
.dibu-two a{
    display: inline-block;
    color: #333;
}
.dibu-three{
    width: 100%;
    height: 22px;
    padding-top: 4px;
}
.dibu-four{
    width: 100%;
    height: 43px;
    padding-top: 10px;
    line-height: 33px;
}
.dibu-five{
    width: 100%;
    height: 57px;
    padding-top: 10px;
}
.dibuf1{
    width: 50%;
    float: left;
}
.dibuf1 a{
    width: 128px;
    height: 100%;
    display: inline-block;
    float: right;
}
.dibuf2{
    width: 50%;
    float: left;
    padding-left: 20px;
    padding-top: 12px;
    text-align: left;
}
.dibuf2 p{
    display: inline-block;
    background: url("../img/dibu2.png") no-repeat;
    background-size: 21px 25px;
    line-height: 25px;
    padding: 0 0 0 25px;
}
.dibuf2 p a{
    color: #666;
    float: left;
}
.zaixian{
    z-index: 900;
    width: 140px;
    height: 142px;
    position: fixed;
    right: -102px;
    bottom: 20px;
}
.zaixian>img{
    width:124px;
    height:117px;
    position: absolute;
    left:0;
    top:0;
    z-index: 999;
}
.zaixian>div{
    transition: all .4s;
}
.zxzx{
    cursor: pointer;
    width: 86px;
    height: 22px;
    position: absolute;
    top: 35px;
    left: -22px;
    z-index: 800;
}
.cjwt{
    cursor: pointer;
    width: 86px;
    height: 22px;
    position: absolute;
    top: 65px;
    left: -22px;
    z-index: 800;
}
.tsjy{
    cursor: pointer;
    width: 86px;
    height: 22px;
    position: absolute;
    top: 95px;
    left: -22px;
    z-index: 800;
}