.middle .zuo ul a{
	float: left;
	width: 78px;
	height: 85px;
}
.top{
	width: 100%;
	height: 41px;
	background: #333333;
	font-size: 11px;
	color: #b0b0b0;
	border-top: 1px solid #b6b4b6;
    
}
.top a:hover{
	color: #fff;
}

.top1{
	width: 1226px;
	height: 100%;
	/* background: yellow; */
	margin: 0 auto;
}
.top-left{
	width: 601px;
	height: 15px;
	/* background: green; */
	float: left;
	margin-top: 14px;
}
.top-right{
	width: 134px;
	height: 15px;
	/* background: pink; */
	float: right;
	margin-top: 14px;
}
.top-title{
	line-height: 15px;
	padding: 0px 9px 0px 0px;
	border-right: 1px solid #424242;
	float: left;
}
.top-title1{
	line-height: 15px;
	padding: 0px 9px 0px 0px;
	border-right: 1px solid #424242;
	float: left;
	margin-left: 8px;
}
.top-title2{
	line-height: 15px;
	float: left;
	margin-left: 8px;
}
.right-1{
   line-height: 15px;
   float: left;
   padding: 0px 8px 0px 0px;
   border-right: 1px solid #424242;

}
.right-2{
   line-height: 15px;
   float: left;
   padding: 0px 8px 0px 0px;
   border-right: 1px solid #424242;
   margin-left: 6px;
}
.right-3{
   line-height: 15px;
   float: left;
   margin-left: 11px;
}
.right{
	width: 120px;
	height: 100%;
	/* background: #aaccee; */
	float: right;
	margin-left: 25px;
	position: relative;
	background-image: url('../img/gouwuche.png');

}
.right:hover{
	background-image: url('../img/r7.png');
}
.daohang{
	width: 1226px;
	height: 100px;
	margin: 0 auto;
	/* background: yellow; */
	position: relative;
}
.logo{
	width: 55px;
	height: 55px;
	float: left;
	margin-top: 22px;
	/* background: green; */
}
.logo img{
	width: 100%;
	height: 100%;
}
.daohang1{
	width: 636px;
	height: 13px;
	/* background: pink; */
	float: right;
	margin-top: 42px;
/* 	margin-right: 50px; */
}
.daohang1 a:hover{
	color:  #FF6700;
}
.sousuo{
	width: 296px;
	height: 45px;
	/* background: red; */
	float: right;
	margin-top: 25px;
	border: 1px solid #b0b0b0;
	position: relative;
}
.ssk{
	width: 47px;
	height: 45px;
	background-image: url('../img/sou2.jpg');
	float: right;
}
.ssk:hover{
	width: 47px;
	height: 45px;
	background-image: url('../img/sou1.jpg');
	float: right;
}
.daohang2{
	font-size: 13px;
	color: #333333;
	margin-right: 20px;
	float: left;
}
.daohang3{
	font-size: 13px;
	color: #333333;
	float: left;
}
.wenben{
	width: 247px;
	height: 45px;
	
	outline: none;
}

.banner{
	width: 1226px;
	height: 460px;
	margin: 0 auto;
	/* background: pink; */
/* 	height: 100px; */
    overflow: hidden;
    position: relative;
    font-size: 13px;
    color: #fff;
}
.banner-tu li{

	position:absolute;
	left:0;
	top:0;
	transition: all 1s;
         opacity:0;
}
.banner-tu li:first-child{
	z-index: 1;
	opacity:1;
}
/* .celan{
	width: 234px;
	height: 100%;
	background: black;
    position: absolute;
    top: 0px;
    bottom: 0px;
    opacity: 0.6;
} */
.rightjiantou{
	font-size: 50px;
	color: #fff;
	position: absolute;
	right: 0px;
	top: 200px;
	margin: auto;
}
.leftjiantou{
	font-size: 50px;
	color: #fff;
	position: absolute;
	left: 235px;
	top: 200px;
	margin: auto;
}
aside{
	width: 234px;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0px;
	bottom: 0px;
	z-index: 999;
}
.banner aside>ul{
	margin-top: 20px;
	
}
.banner .w{

	line-height: 42px;
	margin-left: 20px;
}
.banner .ll{
	line-height: 42px;
	float: right;
	margin-right: 10px;
}
.banner li:hover{
     background: #FF6700;
}
.lunbo{
	height: 10px;
	width: 90px;
	/* background: red; */
	position: absolute;
	bottom: 26px;
	right: 35px;
	z-index: 999;
	display: flex;
	justify-content: space-between;
}
.lunbo li{
	width:10px;
	height:10px;
	border:2px solid rgba(19, 48, 8, 0.5);
	background: rgba(19, 48, 8, 0.5);
	border-radius: 50%;
	cursor: pointer;
}
.lunbo li:first-child{
	background:rgba(255,255,255,.5);
}
.middle{
	width: 1226px;
	margin: 0 auto;
	/* height: 100px; */
	/* background: yellow; */
	margin-top: 14px;
	overflow: hidden;
	margin-bottom: 16px;
}
.tu1{
	width: 234px;
	float: left;
	/* background: red; */
	/* height: 100px; */
}


.tu11-1:hover{
	box-shadow: 0px 2px 15px .1px rgba(0, 0, 0, 0.6);
}

.tu2{
	width: 978px;
	height: 180px;
	/* background: green; */
	float: right;
}
.tu11-1{
float: left;
margin-left: 10px;
transition: box-shadow  .2s linear;
}
.zuo ul{
	width: 234px;
	height: 170px;
	float: left;
}
.zuo .zuo1{
	float: left;
}
.mingxing{
	width: 1226px;
	height: 438px;
	/* background: red; */
	margin: 0 auto;
}
.mingxing-top{
	width: 100%;
	height: 58px;
	/* background: yellow; */
	float: top;
}
.mingxingtop-title1{
	font-size: 22px;
	line-height: 58px;
	color: #333;
	float: left;
}
.mingxingtop-you{
	width: 36px;
	height: 24px;
	border: 1px solid #e0e0e0;
	float: right;
	margin-top: 24px;
}
.fh{
	line-height: 24px;
	text-align: center;
}
.fh:hover{
	color: red;
}

#mingxingxia{
	width: 100%;
	height: 340px;
	/* background: yellow; */
	float: bottom;
	position: relative;
}
.mingxingbox{
	width: 234px;
	height: 100%;
	background: red;
	float: left;
	margin-right: 14px;
	position: relative;
}

.mingxingbox1{
	width: 234px;
	height: 100%;
	background: red;
	float: left;
	position: relative;
}
.mingxingtu{
	width: 234px;
	height: 100%;
	background: #fafafa;
	border-top: 1px solid #ffac13;
	margin-right: 14px;
	float: left;
}
.mingxing1{
	width: 160px;
	height: 166px;
	/* background: yellow; */
	margin: 40px 37px 22px;

}
.mingxing11{
	width: 100%;
	height: 100%;
}
.mingxingzi1{
	width: 196px;
	height: 21px;
	/* background: #ccc; */
	position: absolute;
	left: 10px;
	bottom: 20px;
	font-size: 16px;
	color: #212121;
	top: 228px;
	text-align: center;
}
.mingxingzi2{
	width: 196px;
	height: 21px;
	/* background: #ccc; */
	position: absolute;
	left: 10px;
	bottom: 70px;
	font-size: 12px;
	color: #b0b0b0;
	text-align: center;
}
.mingxingzi3{
	width: 196px;
	height: 21px;
	/* background: red; */
	position: absolute;
	left: 10px;
	bottom: 37px;
	font-size: 14px;
	color: red;
	text-align: center;
}
.mingxingtu1{
	width: 234px;
	height: 100%;
	background: #fafafa;
	border-top: 1px solid #83c44e;
	margin-right: 14px;
	float: left;
}
.mingxingtu2{
	width: 234px;
	height: 100%;
	background: #fafafa;
	border-top: 1px solid #2196f3;
	margin-right: 14px;
	float: left;
}
.mingxingtu3{
	width: 234px;
	height: 100%;
	background: #fafafa;
	border-top: 1px solid #e53935;
	margin-right: 14px;
	float: left;
}
.mingxingtu4{
	width: 234px;
	height: 100%;
	background: #fafafa;
	border-top: 1px solid #00c0a5;
	margin-right: 14px;
	float: left;
}
.yingjian{
	width: 100%;
/* 	height: 4614px; */
	background: #f5f5f5;
	float: left;;
	overflow: hidden
}

.yingjian-top{
	height: 58px;
	width: 1226px;
	/* background: yellow; */
	margin: 0 auto;
	margin-top: 60px;
}
.yingjian-topleft{
    font-size: 22px;
    color: #333;
    float: left;
    line-height: 58px;	
}
.quanbu{
	font-size: 17px;
	color: #424242;
	float: right;
	line-height: 58px;
}
.quanbu:hover{
	color: #ff6700;
}
.quanbu-fuhao{
	width: 20px;
	height: 20px;
	background: #757575;
	border-radius: 50%;
	float: right;
    margin-top: 18px;
    margin-left: 8px;
}
.quanbu-fuhao:hover{
	background: #ff6700;
}
.fuhao-you{
	line-height: 20px;
	text-align: center;
	color: #fff;
}
.yingjian-box{
	width: 1226px;
	margin: 0 auto;
	overflow: hidden;
/* 	background: yellow; */
	/* height: 100px; */
}
.yingjian-tu{
	width: 234px;
	height: 614px;
	background: red;
	float: left;
	margin-top: 10px;
	transition: all .5s linear;
}
.yingjian-tu:hover{
	transform: translateY(-5px); 
	box-shadow: 0px 2px  10px  5px rgba(0, 0, 0, 0.3);
}
.yingjian-tu2:hover{
	transform: translateY(-5px); 
	box-shadow: 0px 2px  10px  5px rgba(0, 0, 0, 0.3);
}
.aa{
	width: 100%;
	height: 100%;
}
.yingjian-tu1{
	width: 992px;
	height: 614px;
	/* background: green; */
	float: right;
}
.yingjian-tu1a{
	width: 1226px;
	/* background: green; */
	margin: 0 auto;
	overflow: hidden;
}
.yingjian-tu2{
	width: 234px;
	height: 300px;
	background: #fff;
	float: left;
	margin-left: 14px;
/* 	margin-bottom: 14px; */
	position: relative;
	margin-top: 10px;
	transition: all .5s linear;

}
.yingjian-tu2b{
	width: 296px;
	height: 415px;
	background: #fff;
	float: left;
	margin-left: 14px;
/* 	margin-bottom: 14px; */
	position: relative;
	margin-top: 10px;
	transition: all .5s linear;

}
.yingjian-tu2b:hover{
	box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.3);
	transform: translateY(-5px);
	}
.yingjian-tu2a{
	width: 234px;
	height: 300px;
	background: #fff;
	float: left;
/* 	margin-left: 14px; */
/* 	margin-bottom: 14px; */
	position: relative;
	margin-top: 10px;
	transition: all .5s linear;

}
.yingjian-tu2a:hover{
	box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.3);
	transform: translateY(-5px);}
.yingjian-tu2aa{
	width: 296px;
	height: 415px;
	background: #fff;
	float: left;
/* 	margin-left: 14px; */
/* 	margin-bottom: 14px; */
	position: relative;
	margin-top: 10px;
	transition: all .5s linear;

}
.yingjian-tu2aa:hover{
	box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.3);
	transform: translateY(-5px);
}
.yingjian-tu2title{
	width: 64px;
	height: 20px;
	background: #83c44e;
	margin: 0 auto;
	line-height: 20px;
	text-align: center;
	font-size: 12px;
	color: #fff;
}
.yingjian-tu2-1{
	width: 160px;
	height: 160px;
	background: red;
	margin: 0 auto;
}

.yingjianzi1{
      width: 234px;
	  height: 21px; 
	display: block;
	float: left;
	/* margin-left: 81px; */
	text-align: center;
	font-size: 14px;
	color: #333;
}
.yingjianzi2{
      width: 234px;
	  height: 18px; 
	display: block;
	float: left;
	margin-top: 5px;
/* 	margin-left: 43px; */
text-align: center;
	font-size: 12px;
	color: #b0b0b0;
}
.yingjianzi3{
      width: 234px;
	  height: 35px; 
	display: block;
	float: left;
/* 	margin-left: 43px; */
   text-align: center;
	font-size: 14px;
	color: #ff6700;
	margin-top: 10px;
}
.yingjian-tu2-11{
	width: 160px;
	height: 160px;
	background: red;
	margin: 0 auto;
	margin-top: 20px;
}
.yingjian-top1{
	height: 58px;
	width: 1226px;
	/* background: yellow; */
	margin: 0 auto;
	margin-top: 30px;
}
.dapei-fuhao{
	width: 328px;
	height: 42px;
	/* background: red; */
	float: right;
}
.dapeizi{
    height: 24px;
    /* background: #cceedd; */
    text-align: center;
    float: left;
    margin-left: 30px;
    margin-top: 16px;
}
.dp{
	width: 234px;
	height: 300px;
	margin-bottom: 14px;
	transition: all .5s linear;
}
.dp:hover{
	transform: translateY(-5px);
	box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, .3);
}
.dpp{
	width: 234px;
	transition: all .5s linear;
	height: 300px;
}
.dpp:hover{
	transform: translateY(-5px);
	box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, .3);
		
}
.dpzi2{
      width: 234px;
	  height: 18px; 
	display: block;
	float: left;
/* 	margin-top: 10px; */
/* 	margin-left: 43px; */
text-align: center;
	font-size: 12px;
	color: #b0b0b0;
}
.dpzi3{
      width: 234px;
	  height: 35px; 
	display: block;
	float: left;
/* 	margin-left: 43px; */
   text-align: center;
	font-size: 14px;
	color: #ff6700;
	margin-top: 5px;
}
.xiaode1{
	width: 234px;
	height: 143px;
	float: right;
	background: #fff;
/* 	margin-bottom: 14px; */
	margin-top: 10px;
	transition: all .5s linear;
}
.xiaode1:hover{
	box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, .3);
	transform: translateY(-5px);
}
.xiaokuang{
	width: 80px;
	height: 80px;
	float: right;
	background: red;
	margin-right: 18px;
	margin-top: 32px;
}
.xiaokuang-title{
    width: 94px;
    height: 21px;
    overflow: hidden;
    line-height: 21px;
    margin-top: 40px;
}
.xiaokuang-title span{
	float: left;
	color: #333;
	margin-left: 30px;
    font-size: 14px;
}
.xiaokuang-title{
    width: 94px;
    height: 21px;
    overflow: hidden;
    line-height: 21px;
    margin-top: 40px;
}
.xiaokuang-title1 span{
	display: block;
	margin-left: 30px;
	font-size: 12px;
	color: #ff6700;
	margin-top: 20px;
}
.xiaokuang1{
	width: 80px;
	height: 80px;
	float: right;
	background: red;
	margin-right: 18px;
	margin-top: 32px;
}
.xiaokuang1{
	width: 49px;
	height: 48px;
	float: right;
	background: red;
	margin-right: 35px;
	margin-top: 45px;
}
.xiaokuang-title22 span{
	display: block;
	margin-left: 30px;
	font-size: 12px;
	color: #b0b0b0;
	margin-top: 10px;
	float: left;
}
.xiaokuang-title11 span{
	float: left;
	color: #333;
	margin-left: 30px;
    font-size: 18px;
    margin-top: 45px;
}

.yingjian-tu6:hover{
	transform: translateY(-5px); 
}
.yingjian-tuu{
	width: 234px;
	height: 614px;
	/* background: red; */
	float: left;
	margin-top: 10px;
}
.zhoubian-fuhao{
	width: 370px;
	height: 42px;
	/* background: red; */
	float: right;
}
.zb10{
	width: 100%;
	height: 100%;
}
.bottom-zi1{
	width: 100%;
	height: 20px;
	/* background: yellow; */
	margin-left: 30px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	line-height:30px;
}
.bottom-zi2{
	width: 100%;
	height: 20px;
	/* background: yellow; */
	margin-left: 60px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	line-height:30px;
}
.yingjian-tu22{
	width: 234px;
	height: 300px;
	background: #fff;
	float: left;
	margin-left: 14px;
/* 	margin-bottom: 14px; */
	position: relative;
	margin-top: 10px;
	transition: all .5s linear;
	overflow: hidden;

}
.yingjian-tu22:hover{
	box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.3);
	transform: translateY(-5px);
}
.yingjian-tu22:hover .bottom{
	
    animation: xianshi .5s linear forwards;
}
		@keyframes xianshi{
			0%{
				opacity: 0;
				transform: translateY(0);
			}
			10%{
				opacity: 0.1;
				transform: translateY(-10px);
			}
			20%{
				opacity: 0.2;
				transform: translateY(-20px);
			}
			30%{
				opacity: 0.3;
				transform: translateY(-30px);
			}
			40%{
				opacity: 0.4;
				transform: translateY(-40px);
			}
			50%{
				opacity: 0.5;
				transform: translateY(-50px);
			}
			60%{
				opacity: 0.6;
				transform: translateY(-60px);
			}
			70%{
				opacity: 0.7;
				transform: translateY(-70px);
			}
			80%{
				opacity: 0.8;
				transform: translateY(-80px);
			}
			90%{
				opacity: 0.9;
				transform: translateY(-90px);
			}
			100%{
				opacity: 1;
				transform: translateY(-100px);
			}
		}
		.bottom{
			width: 100%;
			height: 76px;
			background: orangered;
			position: absolute;
			left: 0;
			bottom: -100px;
			margin: auto;
			opacity: 0;
		}

.rp1{
    width: 296px;
    height: 220px;
    background: red;
}
.rpp{
	width: 100%;
	height:100%;
}
.rpwenzi{
	width: 240px;
	height: 72px;
	margin: 30px 28px 22px;
	font-size: 14px;
	color: #333;
}
.rpwenzi1{
	width: 240px;
	height: 18px;
	margin: 0 28px 8px;
	font-size: 12px;
	color: #b0b0b0;
}
.rpwenzi2{
	width: 236px;
	height: 21px;
	margin: 0 30px;
	font-size: 12px;
	color: #b0b0b0;
}
.zi1{
	font-size: 14px;
	color: #333;
}
.zi2{
	color: #e0e0e0;
}
.zi3{
	color: #ff6700;
	font-size: 14px;
}
.ner li{
	width:25%;
	height:402px;
	float: left;
	position: relative;
	padding: 0 10px;
}
.neirong1{
	width: 296px;
	height: 374px;
	padding-top: 45px;
	margin-bottom: 14px;
	border-top: 1px solid #ffac13;
	float: left;
	background: #fff;
	margin-top: 14px;
	transition: all .5s linear;
	/*position: relative;*/
	position: absolute;
	left: 0;
	top:0;
}
.neirong1:hover{
	box-shadow: 0 2px 10px 5px rgba(0, 0, 0, .3);
	transform: translateY(-5px);
}
/*.neirong1:hover .zuoyou{
	
    animation: xianshi1 .5s linear forwards;
}
		@keyframes xianshi1{
			0%{
				opacity: 0;
				
			}
			10%{
				opacity: 0.1;
				
			}
			20%{
				opacity: 0.2;
				
			}
			30%{
				opacity: 0.3;
				
			}
			40%{
				opacity: 0.4;
				
			}
			50%{
				opacity: 0.5;
				
			}
			60%{
				opacity: 0.6;
				
			}
			70%{
				opacity: 0.7;
				
			}
			80%{
				opacity: 0.8;
				
			}
			90%{
				opacity: 0.9;
				
			}
			100%{
				opacity: 1;
				
			}
		}
		.neirong1:hover .zuoyou1{
	
    animation: xianshi1 .5s linear forwards;
}
		@keyframes xianshi1{
			0%{
				opacity: 0;
				
			}
			10%{
				opacity: 0.1;
				
			}
			20%{
				opacity: 0.2;
				
			}
			30%{
				opacity: 0.3;
				
			}
			40%{
				opacity: 0.4;
				
			}
			50%{
				opacity: 0.5;
				
			}
			60%{
				opacity: 0.6;
				
			}
			70%{
				opacity: 0.7;
				
			}
			80%{
				opacity: 0.8;
				
			}
			90%{
				opacity: 0.9;
				
			}
			100%{
				opacity: 1;
				
			}
		}*/
.neirong2{
	width: 296px;
	height: 374px;
	padding-top: 45px;
	margin-bottom: 14px;
	margin-left: 14px;
	border-top: 1px solid #83c44e;
	float: left;
	background: #fff;
	margin-top: 14px;
	transition: all .5s linear;
	/*position: relative;*/
	position: absolute;
	left:0;
	top:0;
}
.neirong2:hover{
	box-shadow: 0 2px 10px 5px rgba(0, 0, 0, .3);
	transform: translateY(-5px);
}
/*.neirong2:hover .zuoyou{
	
    animation: xianshi1 .5s linear forwards;
}
		@keyframes xianshi1{
			0%{
				opacity: 0;
				
			}
			10%{
				opacity: 0.1;
				
			}
			20%{
				opacity: 0.2;
				
			}
			30%{
				opacity: 0.3;
				
			}
			40%{
				opacity: 0.4;
				
			}
			50%{
				opacity: 0.5;
				
			}
			60%{
				opacity: 0.6;
				
			}
			70%{
				opacity: 0.7;
				
			}
			80%{
				opacity: 0.8;
				
			}
			90%{
				opacity: 0.9;
				
			}
			100%{
				opacity: 1;
				
			}
		}
		.neirong2:hover .zuoyou1{
	
    animation: xianshi1 .5s linear forwards;
}
		@keyframes xianshi1{
			0%{
				opacity: 0;
				
			}
			10%{
				opacity: 0.1;
				
			}
			20%{
				opacity: 0.2;
				
			}
			30%{
				opacity: 0.3;
				
			}
			40%{
				opacity: 0.4;
				
			}
			50%{
				opacity: 0.5;
				
			}
			60%{
				opacity: 0.6;
				
			}
			70%{
				opacity: 0.7;
				
			}
			80%{
				opacity: 0.8;
				
			}
			90%{
				opacity: 0.9;
				
			}
			100%{
				opacity: 1;
				
			}
		}*/

.neirong3{
	width: 296px;
	height: 374px;
	padding-top: 45px;
	margin-bottom: 14px;
	margin-left: 14px;
	border-top: 1px solid #e53935;
	float: left;
	background: #fff;
	margin-top: 14px;
	transition: all .5s linear;
	/*position: relative;*/
	position: absolute;
	left:0;
	top:0;
}
.neirong3:hover{
	box-shadow: 0 2px 10px 5px rgba(0, 0, 0, .3);
	transform: translateY(-5px);
}
/*.neirong3:hover .zuoyou{
	
    animation: xianshi1 .5s linear forwards;
}
		@keyframes xianshi1{
			0%{
				opacity: 0;
				
			}
			10%{
				opacity: 0.1;
				
			}
			20%{
				opacity: 0.2;
				
			}
			30%{
				opacity: 0.3;
				
			}
			40%{
				opacity: 0.4;
				
			}
			50%{
				opacity: 0.5;
				
			}
			60%{
				opacity: 0.6;
				
			}
			70%{
				opacity: 0.7;
				
			}
			80%{
				opacity: 0.8;
				
			}
			90%{
				opacity: 0.9;
				
			}
			100%{
				opacity: 1;
				
			}
		}
		.neirong3:hover .zuoyou1{
	
    animation: xianshi1 .5s linear forwards;
}
		@keyframes xianshi1{
			0%{
				opacity: 0;
				
			}
			10%{
				opacity: 0.1;
				
			}
			20%{
				opacity: 0.2;
				
			}
			30%{
				opacity: 0.3;
				
			}
			40%{
				opacity: 0.4;
				
			}
			50%{
				opacity: 0.5;
				
			}
			60%{
				opacity: 0.6;
				
			}
			70%{
				opacity: 0.7;
				
			}
			80%{
				opacity: 0.8;
				
			}
			90%{
				opacity: 0.9;
				
			}
			100%{
				opacity: 1;
				
			}
		}*/
.neirong4{
	width: 296px;
	height: 374px;
	padding-top: 45px;
	margin-bottom: 14px;
	margin-left: 14px;
	border-top: 1px solid #2e96f3;
	float: left;
	background: #fff;
	margin-top: 14px;
	transition: all .5s linear;
	/*position: relative;*/
	position: absolute;
	left:0;
	top:0;
}
.neirong4:hover{
	box-shadow: 0 2px 10px 5px rgba(0, 0, 0, .3);
	transform: translateY(-5px);
}
/*.neirong4:hover .zuoyou{
	
    animation: xianshi1 .5s linear forwards;
}
		@keyframes xianshi1{
			0%{
				opacity: 0;
				
			}
			10%{
				opacity: 0.1;
				
			}
			20%{
				opacity: 0.2;
				
			}
			30%{
				opacity: 0.3;
				
			}
			40%{
				opacity: 0.4;
				
			}
			50%{
				opacity: 0.5;
				
			}
			60%{
				opacity: 0.6;
				
			}
			70%{
				opacity: 0.7;
				
			}
			80%{
				opacity: 0.8;
				
			}
			90%{
				opacity: 0.9;
				
			}
			100%{
				opacity: 1;
				
			}
		}
		.neirong4:hover .zuoyou1{
	
    animation: xianshi1 .5s linear forwards;
}
		@keyframes xianshi1{
			0%{
				opacity: 0;
				
			}
			10%{
				opacity: 0.1;
				
			}
			20%{
				opacity: 0.2;
				
			}
			30%{
				opacity: 0.3;
				
			}
			40%{
				opacity: 0.4;
				
			}
			50%{
				opacity: 0.5;
				
			}
			60%{
				opacity: 0.6;
				
			}
			70%{
				opacity: 0.7;
				
			}
			80%{
				opacity: 0.8;
				
			}
			90%{
				opacity: 0.9;
				
			}
			100%{
				opacity: 1;
				
			}
		}*/
.neirong-top{
	width: 276px;
	height: 24px;
	text-align: center;
	color: #ffac13;
	font-size: 16px;
}
.neirong-m{
	width: 256px;
	height: 25px;
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
	color: #333;

}
.neirong-m1{
	width: 200px;
	height: 40px;
	margin: 0 auto;
	text-align: center;
	font-size: 12px;
	color: #b0b0b0;
	margin-top: 10px;

}
.neirong-m2{
	width: 276px;
	height: 21px;
	margin: 0 auto;
	text-align: center;
	font-size: 14px;
	color: #333;
/* 	margin-top: 10px; */

}
.nrd{
	width:216px;
	position: absolute;
	left:0;
	right:0;
	margin:auto;
	bottom:38px;
}
.nrd li{
	width:10px;
	height:10px;
	background: #ccc;
	border-radius: 50%;
	float: left;
}
.nr{
	width: 216px;
	height: 154px;
	margin: 0 auto;
}
.nrt{
	width: 100%;
	height: 100%;
}
.nrdP{
	width: 296px;
	height: 30px;
}
.nrdian{
	width: 90px;
	height: 30px;
	margin: 0 auto;
	/* background: green; */
}
.nrdian1{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #b0b0b0;
	float: left;
	margin-top: 10px;

}
.nrdian2{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background:#b0b0b0;
	float: left;
	margin-top: 10px;
	margin-right: 10px;

}
.nrdian3{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #fff;
	border: 2px solid #ff5500;
	float: left;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;

}
.ner li:nth-child(1) .zuoyou{
	left:0;
}
.ner li:nth-child(1) .zuoyou1{
	right:10px;
}
.zuoyou{
	width: 30px;
	height: 50px;
	background: #b0b0b0;
	position: absolute;
	left: 14px;
	bottom: 163px;
	font-size: 20px;
	text-align: center;
    line-height: 50px;
    opacity: 0;
	z-index: 10;
	transition: all .5s linear;
}
.zuoyou1{
	width: 30px;
	height: 50px;
	background: #b0b0b0;
	position: absolute;
	right: -3px;
	bottom: 163px;
		font-size: 20px;
 text-align: center;
 line-height: 50px;
 opacity: 0;
	z-index: 10;
	transition: all .5s linear;
}
.shipin1{
	width: 296px;
	height: 374px;
	margin-bottom: 14px;

	float: left;
	background: #fff;
	margin-top: 14px;
	transition: all .5s linear;
	position: relative;
		transition: all .5s linear;
}
.shipin1:hover{
	box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, .3);
	transform: translateY(-5px);
}
.shipin2{
	width: 296px;
	height: 374px;
	margin-bottom: 14px;
    margin-left: 14px;
	float: left;
	background: #fff;
	margin-top: 14px;
	transition: all .5s linear;
	position: relative;
		transition: all .5s linear;
}
.shipin2:hover{
	box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, .3);
	transform: translateY(-5px);
}
.sptu{
	width: 296px;
	height: 180px;
	background: blue;
	position: relative;
}
.spt{
	width: 100%;
	height: 100%;
}
.spzi1{
	width: 296px;
	height: 21px;
	/* background: red; */
	margin-top:40px; 
	text-align: center;
}
.spzi2{
	width: 296px;
	height: 21px;
	/* background: red; */
	margin-top:40px; 
	text-align: center;
	font-size: 12px;
	color: #b0b0b0;
}
.dibu{
	width: 100%;

	background: #fff;
	float: left;
	margin-top: 20px;
	overflow: hidden;
}
.yuyue{
	width: 1226px;
	height: 57px;
	margin: 0 auto;
}
.yuyue > a > ul > li >h1{
	width: 243px;
	height: 25px;
	font-size: 16px;
	float: left;
	color: #796561;
	text-align: center;
	margin-top: 20px;
	border-right: 1px solid #E0E0E0;
}
.yuyue > a > ul > li:nth-child(5) >h1{
	border-right:none;
}
.bzzx{
	width: 1226px;
	height: 67px;
	padding: 40px 0  0;
	/*background: red;*/
	margin: 0 auto;
}
.bzzx > ul{
	width: 100%;
	height: 100%;
}
.bzzx > ul > li{
	width: 168px;
	height: 17px;
	margin-top: -1px;
	margin-bottom: 26px;
	float: left;
}
.lxdh{
	width: 252px;
	height: 69px;
	border-left: 1px solid #e0e0e0;
	float: right;
	margin-top: 11px;
	text-align: center;
	margin-right: 5px;
}
.lxdh > h1{
	width: 251px;
	height: 22px;
	color: #FF6700;
	font-size: 22px;
	margin-bottom: 5px;
}
.lxdh > h2{
	height: auto;
	font-size: 12px;
	margin-left: 34px;
	margin-top: 8px;
	color: #616161;
}
.lxdh > h3{
	width: auto;
	height: auto;
	color: #616161;
	font-size: 12px;
	margin-left: 84px;
	margin-top: 0px;
	float: left;
}
.zhglbox{
	width: 168px;
	height: 76px;
	float: left;
	margin-top: 30px;
	font-size: 12px;
	color: #616161;
	line-height: 20px;
}
.zhglbox1{
	width: 80px;
	height:50px;
	float: left;
	margin-top: 30px;
	font-size: 12px;
	color: #616161;
	line-height: 20px;
}


.ditop{
	float: left;
	margin-top: -23px;
}
.fengexian{
	width: 1226px;
	height: 1px;
	background: #b0b0b0;
	margin: 0 auto;
}
.zhanghu{
	width: 1226px;
	overflow: hidden;
	/* background: yellow; */
    margin: 0 auto;
}
.xiabox{
	width: 930px;
	height: 100px;
	float: left;
}
.shipin1 a{
	color: #000;
}
.shipin2 a{
	color: #000;
}
.sp{
	width: 30px;
	height: 30px;
	position: absolute;
	left: 27px;
	bottom: 27px;

}

.ssp{
	width: 100%;
	height: 100%;

}
.gwc{
	width: 316px;
	height: 100px;
position: absolute;
    right: 0;
    top: 40px;
    z-index: 31;
    padding: 15px 0 0;
    color: #424242;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    text-align: center;
	line-height: 80px;
	display: none;
}
.dh1{
	width: 100%;
	height: 230px;
	position: absolute;
	left: 0;
	top: 100px;
	border-top: 1px solid #e0e0e0;
    background: #fff;
        z-index:9999;
        box-shadow: 0 3px 4px rgba(0,0,0,0.18);
	display: none;
}
.container{
	width: 1226px;
	height: 100%;
	margin: 0 auto;
}
.container ul{
	width: 100%;
	height: 100%;
}
.container ul li{
	    float: left;
    width: 204px;
    height: 100%;
    padding: 35px 12px 0;
    text-align: center;
    position: relative;
}
.container ul li p{
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	color: #ff6700;
}
.container ul li p a{
    color: #000;
}
.k1{
	width: 160px;
    height: 110px;
    margin: 0 auto 16px;
    text-align: center;
    border-right: 1px solid #ccc;
}
.container ul li:last-child .k1{
	border-right:0;
}
.k1 a{
	display: block;
}
.tup{
	width: 100%;
	height: 100%;
}
.flag{
	position: absolute;
    top: -1px;
    left: 0;
    z-index: 1;
    width: 100%;
    font-size: 12px;
    text-align: center;
}
.fl{
	display: inline-block;
    height: 18px;
    padding: 1px 20px;
    border: 1px solid #ff6700;
    color: #ff6700;
}
.gif{
	position: absolute;
	left: 69px;
	bottom: 0;
	z-index: 21;
	width: 165px;
	height: 100px;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("../img/yyymix.gif");
	text-indent: -9999em;
}
.ssxiao{
	position: absolute;
	top: 11px;
	right: 62px;
	z-index: 2;
	text-align: right;
}
.ssxiao a{
	display: inline-block;
	margin-left: 5px;
	padding: 0 5px;
	font-size: 12px;
	background: #eee;
	color: #757575;
	transition: all .2s;
}
.ssxiao a:hover{
	background: #ff6700;
	color: #fff;
}
.zuolan{
	height:460px;
	overflow: hidden;
	position: absolute;
	left:234px;
	top:0;
	background: #fff;
	box-shadow: 0 8px 16px rgba(0,0,0,0.18);
	padding-left: 1px;
	display: none;
}
.zuolan ul{
	width:265px;
	height:100%;
	float:left;
}
.zuolan ul li{
	width:100%;
	height:76px;
	background: #fff;
	position: relative;
}
.zuolan ul li a{
	width: 170px;
	display: block;
	padding: 18px 20px;
	line-height: 40px;
	color: #333;
	transition: color .2s;
}
.zlan{
	width: 170px;
	height:100%;
	float: left;
	padding: 18px 20px;

}
.zlan span{
	display: inline-block;
	position: absolute;
	left:80px;
	top:28px;
	color: #000;
}
.zuolan ul li:hover{
	background: none;
}
.nk{
	width:1184px;
	height:374px;
}
@keyframes leftout {
	0%{
		left:0;
	}
	100%{
		left:-740px;
	}
}
.leftOut{
	animation: leftout 1s ease-in;
}
@keyframes leftin {
	0%{
		left:740px
	}
	100%{
		left:0;
	}
}
.leftIn{
	animation:leftin 1s ease-in;
}
@keyframes rightOut {
	0%{
		left:0;
	}
	100%{
		left:740px;
	}
}
.rightOut{
	animation: rightOut 1s ease-in;
}
@keyframes rightIn {  /*从左向右进*/
	0%{
		left:-740px;
	}
	100%{
		left:0;
	}
}
.rightIn{
	animation: rightIn 1s ease-in;
}